@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-02 19:49:12
 * @version $Id$
 */
 *{
 	padding: 0;
 	margin: 0;

 }
 .main{

 }
 .link{
position: relative;
 }
 ul{
 	position: absolute;
    right: 0;
    top: 10px;
 }
 li{
 	float: right;
 }
